{% extends 'base.html' %} {% load static %} 

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 ">
            <img src="{{ book.image.url }}" alt="{{ book.title }} Image" class="img-fluid">
        </div>

        <div class="col-md-8">
            <h2 class="text-center">{{ book.title }}</h2>
            <div class="book-details">
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p>
                <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
                <p><strong>Price:</strong> {{ book.price }}</p>

                {% if book.stock_available > 30 %}
                    <p class="text-success">In Stock!</p>
                {% else %}
                    <p class="text-danger">Out of Stock!</p>
                {% endif %}

            </div>

            <div class="synopsis">
                <h5>Synopsis:</h5>
                <p>{{ book.synopsis }}</p>
            </div>


            <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-25">
                            <div class="input-group">
                                <input class="form-control qty_input" type="number" name="quantity" 
                                value="1" min="1" max="99" data-item_id="{{ book.id }}" 
                                id="id_qty_{{ book.id }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'books' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <button type="submit" id="" class="btn btn-success btn-sm rounded-0 text-uppercase mt-5">
                            Add to Bag <span class="fas fa-plus"></span>
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <div id="add-to-bag-message" style="display: none;"></div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var addToBagForm = document.getElementById('add-to-bag-form');
    var addToBagMessage = document.getElementById('add-to-bag-message');
    
    addToBagForm.addEventListener('submit', function(event) {
        event.preventDefault();
    
        addToBagMessage.innerHTML = 'Item added to your bag!';
        addToBagMessage.style.display = 'block';
    
        setTimeout(function() {
            addToBagMessage.style.display = 'none';
        }, 3000); // 3000 milliseconds (3 seconds) in this example
    
        alert('Item added to bag');
    });
});
</script>

{% endblock %}