{% extends 'base.html' %} {% load static %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Genre: {{ book.genre }}</p>
            <p>Publication Date: {{ book.publication_date }}</p>
            <p>Price: {{ book.price }}</p>
            {% if stock_available > 50 %}
                <p class="text-green">in Stock!</p>
            {% elif %}
            <!-- Add other fields as needed -->
            <img src="{{ book.image.url }}" alt="{{ book.title }} Image">
            <p>Synopsis: {{ book.synopsis }}</p>
        </div>
    </div>
</div>

{% endblock %}