.book {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 100px;
    max-
}

.book img {
    max-width: 100%;
    height: auto;
}