.book {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book img {
    max-width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}