
/* Hero image */

.carousel-item img {
    max-height: 600px !important;
}


/* Book shop */
.book {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.book img {
    height: 300px;
}

/* Navigation */
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-brand img {
    height: 70px;
}

/* Page quality */
.spacer {
    margin-bottom: 95px;
}


/* Reviews */
#reviews-section {
    margin-top: 20px;
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.review-image {
    max-width: 100%;
    height: auto;
}

.review-text {
    margin-top: 10px;
}

.review-divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#colorChangeBtn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}



@media (max-width: 767px) {
    .card-img-top {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    
    .card-body {
        text-align: center;
    }
}