


.carousel-item img {
    max-height: 400px;
}



.book {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.book img {
    height: 300px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-brand img {
    height: 70px;
}

.spacer {
    margin-bottom: 95px;
}

#reviews-section {
    margin-top: 20px;
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.review-image {
    max-width: 100%;
    height: auto;
}

.review-text {
    margin-top: 10px;
}

.review-divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}