{% extends 'staff/staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="h3 mb-4">View Books</h2>
            <ul class="list-group">
                {% for book in books %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                            {{ book.title }} by {{ book.author }}
                        </div>
                        <div class="flex-shrink-0">
                            <a href="{% url 'modify_books' book_id=book.id %}" class="btn btn-primary btn-sm">Modify</a>
                            <a href="{% url 'delete_books' book_id=book.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}