{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Your Orders{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Your Orders</h1>

    {% if orders %}
      {% for order in orders %}
        <div class="order-details">
          <p>
            Order Number: {{ order.order_number }}<br>
            Total: £{{ order.grand_total }}<br>
          </p>

          <h3>Books Ordered:</h3>
          <ul>
            {% for item_id, quantity in order.original_bag.items %}
              {% with book=order.orderlineitem_set.get(book__id=item_id).book %}
                <li>
                  Book: {{ book.title }}<br>
                  Quantity: {{ quantity }}<br>
                  Price: £{{ book.price }}<br>
                  Subtotal: £{{ book.price|mul:quantity }}
                </li>
                <hr>
              {% endwith %}
            {% endfor %}
          </ul>
          <hr>
        </div>
      {% endfor %}
    {% else %}
      <p>You haven't placed any orders yet.</p>
    {% endif %}
  </div>
{% endblock %}