{% load cart %}

<div class="cart">
    <h2>Cart</h2>

    {% cart_total_quantity as total_quantity %}

    {% if total_quantity == 0 %}
        <p>Your cart is empty.</p>
    {% else %}
        <p>You have {{ total_quantity }} item(s) in your cart.</p>

        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.book.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>£{{item.book.price}}</td>
                        <td>£{{ item.get_total_price }}</td>
                        <td>
                            <form action="{% url 'cart_remove' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" id="{{ item.product_id }}">
                                <button></button>
                            </form>
                        </td>
                    </tr>
            </tbody>
        </table>


</div>