{% extends 'staff/staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete the book '{{ book.title }}' by {{ book.author }}?</p>
            <form method="post" action="{% url 'delete_books' book.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
                <a href="{% url 'view_books' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}