{% extends 'base.html' %} {% load static %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <th>How to make a cup of tea</th>
            <td>
                <tr>1. Get your Tetleys tea bag, no Yorkshire shite.</tr>
                <tr>2. Boil your kettle and put sugar into your Everton mug.</tr>
                <tr>3. Add hot water and </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            </td>
        </div>
    </div>
</div>
<p>This works</p>
<p>but is incomplete
    
</p>
{% endblock %}