{% extends 'base.html' %} {% load static %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <th>How to make a cup of tea</th>
            <td>
                <td>1. Get your Tetleys tea bag, no Yorkshire shite.</tr>
                <td>2. Boil your kettle and put sugar into your Everton mug.</tr>
                <td>3. Add hot water and milk</tr>
                <td>4. Stir with Teabag for 3 full clockwise motions</tr>
                <tr>5. Lob your Teabag out the window</tr>
                <tr>6. Pour your drink down the sink</tr>
            </td>
        </div>
    </div>
</div>

{% endblock %}