{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'hero_image/book-plinth.png' %}" alt="Book on plinth with holy light" class="d-block w-100 img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Books full of wonder</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'hero_image/friends-table.png' %}" alt="Friends sat around table laughing and reading books" class="d-block w-100 img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Books you can enjoy with friends</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'hero_image/futuristic-art.png' %}" alt="Futuristic setting with spaceships and a starry sky" class="d-block w-100 img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Books that can take you to new universes</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'hero_image/knights-fight.png' %}" alt="knights fighting in war with swords" class="d-block w-100 img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Books full of adventure</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'hero_image/woman-reading.png' %}" alt="women smiling reading book in bookstore" class="d-block w-100 img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Books just for you</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container text-center ">
                <h1 class="">Welcome to Jimbo's Books</h1>
                <p>Explore a vast collection of books at Jimbo's Books. Whether you're a fan of fiction, non-fiction, or classics, we have something for every reader.</p>
                <p>Join our community of book lovers and discover new worlds through the magic of literature. Our curated selection ensures there's a perfect book waiting for you.</p>
                <p>Don't miss out on our exclusive deals and discounts. Stay informed about the latest releases and literary events. Jimbo's Books is not just a bookstore; it's a literary journey!</p>
            </div>
            <div id="reviews-section" class="container my-5 p-4 border rounded">
                <h3 class="text-center mb-4">Customer Reviews</h3>
                <div id="review-container" class="row">
                    {% for review in reviews %}
                        <div class="col-md-7">
                            <div class="review {% if forloop.first %}active{% endif %}">
                                {% if review.review_image %}
                                    <img src="{{ review.review_image.url }}" alt="Review Image" class="review-image img-fluid">
                                {% endif %}
                                <div class="review-text text-center">
                                    <p class="overflow-hidden">{{ review.review_body }}</p>
                                    <p class="overflow-hidden">Date of Review: {{ review.date_of_review }}</p>
                                    <p class="overflow-hidden">- {{ review.full_name }}</p>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <hr class="review-divider my-4">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#imageCarousel').carousel();

        // JavaScript script to cycle through reviews
        const reviews = document.querySelectorAll('.review');
        let currentIndex = 0;

        function showReview(index) {
            reviews.forEach(review => review.classList.remove('active'));
            reviews[index].classList.add('active');
        }

        function nextReview() {
            currentIndex = (currentIndex + 1) % reviews.length;
            showReview(currentIndex);
        }

        // Initial display
        showReview(currentIndex);

        // Set up interval to automatically cycle through reviews
        setInterval(nextReview, 5000);  // Adjust the interval as needed (milliseconds)
    });
</script>

{% endblock %}