{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 md-4 text-center"></h1>
        {% if books %}
            <div class="row">
                {% for book in books %}
                    <div class="col-md-3 ml-4">
                        <div class="row">
                            <div class="book">
                                <h4>{{ book.title }} <p>by {{ book.author }}</p></h2>
                                <p>Price: <strong>£{{ book.price }}</strong></p>
                                <img src="{{ book.image.url }}" alt="{{ book.title }}">
                            </div>
                        </div>
                    </div>  
                {% endfor %} 
            </div>
        {% endif %}                
            
    </div>

{% endblock %}