{% extends 'staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>View Jobs</h2>
            <ul>
                {% for career in careers %}
                    <li>
                        {{ career.title }} by {{ book.author }}
                        <a href="{% url 'modify_books' book_id=book.id %}">Modify</a>
                        <a href="">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}