{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Staff Settings</h2>
                <ul>
                    <li><a href="{% url 'add_book' %}">Add Book</a></li>
                    #<li><a href="{% url 'modify_books' %}">Modify Books</a></li>
                    <li><a href="{% url 'view_books' %}">View Books</a></li>
                    <li><a href="{% url 'delete_books' %}">Delete Books</a></li>
                </ul>
            </div>
            <div class="col">
                {% block settings_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}