{% extends 'staff/staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <h2 class="text-center mb-4">Customer Reviews</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for review in reviews %}
            <div class="col">
                <div class="card h-100">
                    {% if review.review_image %}
                        <img src="{{ review.review_image.url }}" class="card-img-top" alt="{{ review.full_name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ review.review_title }}</h5>
                        <p class="card-text">{{ review.review_body }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Rating:</strong> {{ review.rating }}/5</li>
                        <li class="list-group-item"><strong>Author:</strong> {{ review.full_name }}</li>
                        <li class="list-group-item"><strong>Date:</strong> {{ review.date_of_review }}</li>
                    </ul>
                    <a href="{% url 'delete_review' review.id %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}