{% extends 'staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>View Reviews</h2>
            <ul class="list-unstyled">
                {% for book in books %}
                    <li class="mb-4">
                        <h4>{{ book.review_title }} by {{ book.full_name }}</h4>
                        <p>{{ book.review_body }}</p>
                        <a href="{% url 'delete_review' review_id=book.id %}" class="btn btn-danger">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}