{% extends 'staff_settings.html' %}

{% block settings_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>View Books</h2>
            <ul>
                {% for book in books %}
                    <li>
                        {{ book.title }} by {{ book.author }}
                        
                        <a href="{% url 'dele<a href="{% url 'modify_books' book.id %}">Modify</a>te_books' book.id %}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}